.material-icons.md-12 {
  font-size: 14px;
}

.material-icons.md-42 {
  font-size: 42px;
}

.material-icons.md-80 {
  font-size: 42px;
}

.icon-align {
  vertical-align: text-bottom;
  margin-left: 0;
  margin-right: 10px;
}
